{% extends 'dashboard.html' %}

{% block conteudo %}
<div class="card border-0 sahdow-sm">
        <div class="card-header bg-white border-0">
            <h3>Posts</h3>
        </div>
        <div class="card-body">
            <form action="{%if post.id %}{{url('admin/posts/editar/'~post.id)}}{% else %}{{url('admin/posts/cadastrar')}}{%endif%}" method="post">
                <div class="mb-3">
                    <label for="titulo" class="form-label">Título</label>
                    <input type="text" class="form-control" id="titulo" value="{{ post.titulo }}" name="titulo">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div>
                  <div class="mb-3">
                    <label for="texto" class="form-label">Texto</label>
                    <textarea class="form-control" id="texto" name="texto" rows="3">{{ post.texto }}</textarea>
                </div>
                <div class="row">
                    <div class="col-md-6">  
                        <select class="form-select" name="status">
                            <option selected>Open this select menu</option>
                            <option value="1" {%if post.status == '1'%}selected{% endif %}>Ativo</option>
                            <option value="0" {%if post.status == '0'%}selected{% endif %}>Inativo</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">  
                            <label for="categoria_id" class="form-label">categoria</label>
                            <select class="form-select" name="categoria_id" id="categoria_id">
                                {% for categoria in categorias %}
                                    <option value="{{categoria.id}}" {%if post.categoria_id == categoria.id %}selected{% endif %}>{{categoria.titulo}}</option>
                                {% endfor %}
                                <!-- <option value="2">Categoria 2</option> -->
                            </select>
                        </div>
                    </div>
                </div>
                    <input type="submit" class="btn btn-primary" value="{% if post.id %}Atualizar{% else %}Cadastrar{% endif %}" />
            </form>
        </div>
    </div>
{% endblock %}